{
    "Default": {
        "base_weight": "1.000000",
        "max_weight": "5.000000",
        "min_weight": "0.000000",
        "activation_type": "Excitatory",
        "activation_function": "Relu",
        "learning_type": "None",
        "transmitter_type": "Default",
        "habituation_threshold": "0.001000",
        "short_habituation_curvature": "0.650000",
        "short_habituation_steepness": "0.070000",
        "short_dehabituation_curvature": "1.000000",
        "short_dehabituation_steepness": "0.000000",
        "long_habituation_curvature": "0.350000",
        "long_habituation_steepness": "0.000050",
        "long_dehabituation_curvature": "1.000000",
        "long_dehabituation_steepness": "0.000000",
        "sensitization_threshold": "5.000000",
        "short_sensitization_curvature": "0.650000",
        "short_sensitization_steepness": "0.070000",
        "short_desensitization_curvature": "1.000000",
        "short_desensitization_steepness": "0.000000",
        "long_sensitization_curvature": "1.020000",
        "long_sensitization_steepness": "0.000100",
        "long_desensitization_curvature": "1.000000",
        "long_desensitization_steepness": "0.000000",
        "presynaptic_potential_curvature": "0.600000",
        "presynaptic_potential_steepness": "0.300000",
        "presynaptic_backfall_curvature": "1.000000",
        "presynaptic_backfall_steepness": "0.000000",
        "neuron_type": "Default",
        "activation_threshold": "1.000000",
        "used_transmitter": "Default",
        "max_activation": "50.000000",
        "min_activation": "0.000000",
        "activation_backfall_curvature": "1.000000",
        "activation_backfall_steepness": "0.040000",
        "influences_transmitter": "No",
        "influenced_transmitter": "Default",
        "transmitter_change_curvature": "1.020000",
        "transmitter_change_steepness": "0.020000",
        "transmitter_influence_direction": "Positive Influence",
        "random_chance": "0.000000",
        "random_activation_value": "0.000000"
    },
    "123": {
        "base_weight": "1.000000",
        "max_weight": "5.000000",
        "min_weight": "0.000000",
        "activation_type": "Inhibitory",
        "activation_function": "Relu",
        "learning_type": "None",
        "transmitter_type": "Default",
        "habituation_threshold": "0.001000",
        "short_habituation_curvature": "0.650000",
        "short_habituation_steepness": "0.070000",
        "short_dehabituation_curvature": "1.000000",
        "short_dehabituation_steepness": "0.000000",
        "long_habituation_curvature": "0.350000",
        "long_habituation_steepness": "0.000050",
        "long_dehabituation_curvature": "1.000000",
        "long_dehabituation_steepness": "0.000000",
        "sensitization_threshold": "5.000000",
        "short_sensitization_curvature": "0.650000",
        "short_sensitization_steepness": "0.070000",
        "short_desensitization_curvature": "1.000000",
        "short_desensitization_steepness": "0.000000",
        "long_sensitization_curvature": "1.020000",
        "long_sensitization_steepness": "0.000100",
        "long_desensitization_curvature": "1.000000",
        "long_desensitization_steepness": "0.000000",
        "presynaptic_potential_curvature": "0.600000",
        "presynaptic_potential_steepness": "0.300000",
        "presynaptic_backfall_curvature": "1.000000",
        "presynaptic_backfall_steepness": "0.000000",
        "neuron_type": "Default",
        "activation_threshold": "18.000000",
        "used_transmitter": "Default",
        "max_activation": "50.000000",
        "min_activation": "0.000000",
        "activation_backfall_curvature": "1.000000",
        "activation_backfall_steepness": "0.040000",
        "influences_transmitter": "No",
        "influenced_transmitter": "None",
        "transmitter_change_curvature": "1.020000",
        "transmitter_change_steepness": "0.020000",
        "transmitter_influence_direction": "Positive Influence",
        "random_chance": "0.000000",
        "random_activation_value": "0.000000"
    }
}